footer {
    width: 100%;
    padding: 3%;
    background: #383838;
    display: grid;
}

.footer-content {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-ul-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
}

.image-footer-wrapper{
    max-width: 20%;
}

.image-footer-wrapper img{
    max-width: 100%;
    padding: 10%;
}

.category {
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2%;
    list-style: none;
}

.category-title {
    grid-column: span 2;
    text-transform: capitalize;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
}

.category .footer-link {
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.75)
}

.footer-link:hover{
    color: #fff;
}

.footer-title, .info{
    color: rgba(255, 255, 255, 0.75);
    text-transform: capitalize;
    margin: 5px 0;
}

.footer-title{
    color: #ffffff;
}

.footer-social-container{
    display: flex;
    justify-content: space-between;
}

.social-link{
    color: #ffffff;
    margin-left: 20px;
    text-transform: capitalize;
}

.social-link:nth-child(1){
    margin-left: 0;
}

@media (min-width: 650px){
    .footer-content{
        justify-content: space-between;
    }
    .footer-ul-container{
        width: 50%;
        justify-content: space-between;
    }
    .footer-ul-container ul{
        max-width: 50%;
        padding: 5%;
    }
    .image-footer-wrapper{
        max-width: 10%;
    }
    .category{
        width: 50%;
    }
    .category li{
        width: 100%;
    }
}