.hero-section {
    width: 100%;
    min-height: 70vh;
    background-image: url("../../public/images/heroimage (1) (1).jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    max-height: 50%;
}

.hero-section .logo {
    display: block;
    padding: 2% 0;
    margin: auto;
}

.hero-section .sub-heading {
    text-align: center;
    color: dimgrey;
    text-transform: capitalize;
    font-variant: all-petite-caps;
    font-size: 30px;
    font-weight: 300;
    margin-top: 0;
}