/*mobile navbar closed*/
.hamNavButton {
    border: none;
    margin: 2em;
    background-color: #FFFFFF;
}

/*mobile navbar opened*/
.mobileNavbarOpened{
    height: 100%;
}

.navBarContainerForHiddenItems ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.closeNav {
    width: 100vw;
    height: 100px;
}

.close {
    display: flex;
    float: right;
    border: none;
    background-color: #FFFFFF;
}

.close img {
    width: 50px;
    height: 50px;
    border: none;
    margin: 1em;
}

.navMobileSearchBar {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.search {
    padding: 30px;
}

.search input, .search button {
    height: 70px;
}

.login-wishlist-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    width: 100vw;
}

.login-wishlist-cart > .login-wishlist-cart a {
    height: 20px;
}

.login-wishlist-cart a img {
    height: 40px;
}


