.navbar {
    width: 100%;
    background: #f5f5f5;
}

.nav {
    padding: 0 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand-logo {
   max-height: 100px;
}

.nav-items {
    display: flex;
    align-items: center;
}

.search {
    width: 500px;
    display: flex;
}

.search-box {
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    outline: none;
}

.search-btn {
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box::placeholder {
    color: #a9a9a9;
}

.search-results .heading{
    text-align: center;
}

.nav-items a img {
    width: 30px;
    height: 30px;
}

.links-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-top: 1px solid #d1d1d1;
}

.link {
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #383838;
    opacity: 0.5;
    transition: .5s;
    font-size: 150%;
    font-variant: all-petite-caps;
}

.link:hover {
    opacity: 1;
}

a {
    text-decoration: none;
}