.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 5vh;
}
.page{
    margin: 5px;
    width: auto;
    font-size: 1.7em;
    font-weight: bold;
    list-style: none;
}
.page a:hover{
    color: #5E6977;
}

.page-link {
    color: #000000;
}
.currentPage {
    color: #5E6977;
}
